.menu {
  width: 100%;
  height: 5rem;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 -0.1rem #dbdbe0;
  bottom: 0;
}

.menu ul li {
  float: left;
  width: 33%;
  text-align: center;
}

.icon-vote {
  width: 2.7rem;
  height: 5rem;
  display: inline-block;
  background: url('./pic/vote.png') no-repeat center center;
  background-size: contain;
}

.icon-vote-tap {
  width: 2.7rem;
  height: 5rem;
  display: inline-block;
  background: url('./pic/vote_afterclick.png') no-repeat center center;
  background-size: 6rem 7.2rem;
}

.icon-question {
  width: 2.7rem;
  height: 5rem;
  display: inline-block;
  background: url('./pic/question.png') no-repeat center center;
  background-size: contain;
}

.icon-question-tap {
  width: 2.7rem;
  height: 5rem;
  display: inline-block;
  background: url('./pic/question_afterclick.png') no-repeat center center;
  background-size: 6rem 7.3rem;
}

.icon-user {
  width: 2.5rem;
  height: 5rem;
  display: inline-block;
  background: url('./pic/user.png') no-repeat center center;
  background-size: contain;
}

.icon-user-tap {
  width: 2.7rem;
  height: 5rem;
  display: inline-block;
  background: url('./pic/user_afterclick.png') no-repeat center center;
  background-size: 6rem 7.2rem;
}